@using ShikkhanobishMainWeb.Models
@using Flurl.Http
@using System.Globalization
@inject IJSRuntime jsRuntime

@using Microsoft.AspNetCore.Components;
@page "/"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>MakeQuestion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive bootstrap 4 admin template" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/css/makeQues.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body style="background-color: white; font-family: Calibri">

    <!-- Begin page -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

   

    <div class="content">

        <!-- Start container-fluid -->
        <div class="container-fluid">
            <!--row-->
            <div style="text-align:start">
                <h3 style="color: black; font-size: 25px; font-family: 'nameTitle'; font-weight: bold ">@tName</h3>
            </div>
            <div class="row">
                <div class="mb-4 col-sm-6 col-lg-3 mb-4 ">
                    <div class="card h-100" style="border-radius: 20px; border-color: transparent">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h4 class="fw-normal" style="color: #280681">@mcqu</h4>
                                    <p class="subtitle text-sm text-muted mb-0">MCQ</p>
                                    <h4 class="fw-normal" style="color: #280681">@creativeu</h4>
                                    <p class="subtitle text-sm text-muted mb-0">Ceative Question</p>
                                </div>

                                <div class="flex-shrink-0 ms-3" style="color: #280681">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z" />
                                        <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z" />
                                    </svg>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer py-3" style="background-color: #E7DEFF; border-radius: 20px; border-color: transparent">
                            <div class="row align-items-center" style="color: #280681">
                                <div class="col-12" style="text-align:center">
                                    <p class="mb-0">Total Upload</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 col-sm-6 col-lg-3 mb-4 ">
                    <div class="card h-100" style="border-radius: 20px; border-color: transparent">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h4 class="fw-normal" style="color: #034E25">@mcqap</h4>
                                    <p class="subtitle text-sm text-muted mb-0">MCQ</p>
                                    <h4 class="fw-normal" style="color: #034E25">@creativeap</h4>
                                    <p class="subtitle text-sm text-muted mb-0">Creative Question</p>
                                </div>

                                <div class="flex-shrink-0 ms-3" style="color: #034E25">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                                        <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                                        <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                    </svg>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer py-3" style="background-color: #D1FFE6; border-radius: 20px; border-color: transparent">
                            <div class="row align-items-center" style="color: #034E25">
                                <div class="col-12" style="text-align:center">
                                    <p class="mb-0">Total Approved</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 col-sm-6 col-lg-3 mb-4 ">
                    <div class="card h-100" style="border-radius: 20px; border-color: transparent">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h4 class="fw-normal" style="color: red">@mcqdl</h4>
                                    <p class="subtitle text-sm text-muted mb-0">MCQ</p>
                                    <h4 class="fw-normal" style="color: red">@creativedl</h4>
                                    <p class="subtitle text-sm text-muted mb-0">Creative Question</p>
                                </div>

                                <div class="flex-shrink-0 ms-3" style="color: red">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-earmark-excel" viewBox="0 0 16 16">
                                        <path d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z" />
                                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                    </svg>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer py-3" style="background-color: #f8d7da; border-radius: 20px; border-color: transparent">
                            <div class="row align-items-center" style="color: red">
                                <div class="col-12" style="text-align:center">
                                    <p class="mb-0">Total Declined</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 col-sm-6 col-lg-3 mb-4 ">
                    <div class="card h-100 " style="border-radius: 20px; border-color: transparent">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <h4 class="fw-normal" style="color: #454545">@mcqpen</h4>
                                    <p class="subtitle text-sm text-muted mb-0">MCQ</p>
                                    <h4 class="fw-normal" style="color: #454545">@creativepn</h4>
                                    <p class="subtitle text-sm text-muted mb-0">Creative Question</p>
                                </div>

                                <div class="flex-shrink-0 ms-3" style="color: #454545">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                                        <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z" />
                                        <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z" />
                                    </svg>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer py-3" style="background-color: #E1E1E1; border-radius: 20px; border-color: transparent">
                            <div class="row align-items-center" style="color: #454545">
                                <div class="col-12" style="text-align:center">
                                    <p class="mb-0">Total Pendng</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row" style="background-color: transparent;">
                @foreach (var op in thisTeacherActiveTask)
                {
                    if (op.taskType == 1)
                    {
                        <div class="col-6">
                            <div class="col-auto">
                                <div class="card h-100" style="border-radius:15px; border-color: transparent">
                                    <div class="card-header shadow-lg" style="background-color: #DAE6FF; border-color: transparent">
                                        <div class="card-heading" style="color: #0B2559">

                                            <div class="row" style="height: 30px; align-items: center; justify-content: center;">
                                                <div class="col-4" style="text-align: start; text-align: start;  ">
                                                    <a style="font-size: 15px; font-weight: bold"> MCQ Task</a>
                                                </div>
                                                <div class="col-auto" style="text-align: center; text-align: center; align-items: center; justify-content: center; ">
                                                    <div>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                                        </svg>
                                                        <a style="font-size: 11px;">@op.date</a>

                                                    </div>
                                                </div>
                                                <div class="col-auto" style="text-align: center; text-align: center; align-items: center; justify-content: center; color: #025323">
                                                    <div>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-file-arrow-up" viewBox="0 0 16 16">
                                                            <path d="M8 11a.5.5 0 0 0 .5-.5V6.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 .5.5z" />
                                                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                                                        </svg>
                                                        <a style="font-size: 11px;">@op.TotalSubmitted</a>

                                                    </div>
                                                </div>
                                                <div class="col-auto" style="text-align: center;">
                                                    <a class=" numOFMCQ" @onclick="@(  () => ShowMCQ(op.taskID))">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                                                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                                            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
                                                        </svg>
                                                    </a>

                                                </div>
                                                <div class="col-auto" style="text-align: center; color: black; align-items: center; justify-content: center; ">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                                                        <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />
                                                    </svg>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-body" style="position: relative">
                                        <div style="display: @op.showMCQ; z-index: 10; position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0,.9); padding-bottom: 10px; border-radius: 10px">
                                            <div style="text-align: center; margin: 10px">
                                                <a style="font-size: 10px; color: white">@op.MCQNumbers</a>
                                                <br />
                                                <button style="color:red; background-color: transparent" href="" @onclick="@(  () => CloseMCQ(op.taskID))">
                                                    Close
                                                </button>
                                            </div>

                                        </div>
                                        <div class="col-12">

                                            <a href="@op.FileLink" target="_blank">
                                                <div class="icon icon-xl bg-primary-light mx-auto mb-3 mainBtn" style="text-align: center; align-items: center; justify-content: center; border-radius: 20px; margin: 20px">
                                                    <img height="50" width="50" src="/Google_Drive_icon.png" />
                                                    <p style="font-size: 11px; color: gray">@op.FileLink</p>

                                                </div>
                                            </a>


                                            <div class="row position-relative" style="top: 5px;">
                                                <div class="col-4 text-center">
                                                    <p class="text-muted text-sm">Class</p>
                                                    <div style="font-size: 11px">@op.ClassName</div>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <p class="text-muted text-sm">Subject</p>
                                                    <div style="font-size: 11px">@op.SubejctName</div>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <p class="text-muted text-sm">Chapter</p>
                                                    <div style="font-size: 11px">@op.chapterName</div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                    else
                    {
                        <div class="col-6">
                            <div class="col-auto">
                                <div class="card h-100" style="border-radius:15px; border-color: transparent">
                                    <div class="card-header shadow-lg" style="background-color: #DAE6FF; border-color: transparent">
                                        <div class="card-heading" style="color: #0B2559">

                                            <div class="row" style="height: 30px; align-items: center; justify-content: center;">
                                                <div class="col-4" style="text-align: start; text-align: start;  ">
                                                    <a style="font-size: 15px; font-weight: bold"> Creative Question Task</a>
                                                </div>
                                                <div class="col-auto" style="text-align: center; text-align: center; align-items: center; justify-content: center; ">
                                                    <div>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                                        </svg>
                                                        <a style="font-size: 11px;">@op.date</a>

                                                    </div>
                                                </div>
                                                <div class="col-auto" style="text-align: center; text-align: center; align-items: center; justify-content: center; color: #025323">
                                                    <div>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-file-arrow-up" viewBox="0 0 16 16">
                                                            <path d="M8 11a.5.5 0 0 0 .5-.5V6.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 .5.5z" />
                                                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                                                        </svg>
                                                        <a style="font-size: 11px;">@op.TotalSubmitted</a>

                                                    </div>
                                                </div>                                             
                                                <div class="col-auto" style="text-align: center; color: black; align-items: center; justify-content: center; ">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                                                        <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />
                                                    </svg>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-body" style="position: relative">
                                       
                                        <div class="col-12">

                                            <a href="@op.FileLink" target="_blank">
                                                <div class="icon icon-xl bg-primary-light mx-auto mb-3 mainBtn" style="text-align: center; align-items: center; justify-content: center; border-radius: 20px; margin: 20px">
                                                    <img height="50" width="50" src="/Google_Drive_icon.png" />
                                                    <p style="font-size: 11px; color: gray">@op.FileLink</p>

                                                </div>
                                            </a>


                                            <div class="row position-relative" style="top: 5px;">
                                                <div class="col-4 text-center">
                                                    <p class="text-muted text-sm">Class</p>
                                                    <div style="font-size: 11px">@op.ClassName</div>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <p class="text-muted text-sm">Subject</p>
                                                    <div style="font-size: 11px">@op.SubejctName</div>
                                                </div>
                                                <div class="col-4 text-center">
                                                    <p class="text-muted text-sm">Chapter</p>
                                                    <div style="font-size: 11px">@op.chapterName</div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                }


                <!-- Modal -->


            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <!-- end container-fluid -->
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            2022 &copy; Shikkhanobish
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->
        </div>
        <!-- end content -->
        <!-- END wrapper -->
        <!-- Vendor js -->
    </div>
</body>
</html>

@code{
    public string tID { get; set; }
    int mcqu { get; set; }
    int mcqap { get; set; }
    int mcqdl { get; set; }
    int mcqpen { get; set; }
    int creativeu { get; set; }
    int creativeap { get; set; }
    int creativedl { get; set; }
    int creativepn { get; set; }
    string showmcq { get; set; }
    List<OperatorEntryCount> listOfSubmit = new List<OperatorEntryCount>();
    List<dataentryOperatorTask> thisTeacherActiveTask = new List<dataentryOperatorTask>();
    public string thismcqNumber { get; set; }
    public string thisShowchapterName { get; set; }
    string makeTaskError { get; set; }
    bool canMakenewTask;
    public int tup, tap, tde, tpe;
    string link { get; set; }
    public string tName { get; set; }
    string url { get; set; }
    int countTQH;
    int prgs;
    DateTime StaringWeek;
    dataentryOperatorTask Liveitem { get; set; }
    string MakeQSTxt { get; set; }
    string linkTxtColor { get; set; }
    List<TeacherQuesHistory> tqhList = new List<TeacherQuesHistory>();
    List<CreativeQuestion> thisopCreativeQs = new List<CreativeQuestion>();
    List<Question> questionList = new List<Question>();
    List<Question> showQSList = new List<Question>();
    List<Question> showQSList1 = new List<Question>();
    List<Question> showQSList2 = new List<Question>();
    List<Question> showQSList3 = new List<Question>();
    List<Question> showQSList4 = new List<Question>();
    List<Teacher> teacherList = new List<Teacher>();
    List<ClassInfo> allClassList = new List<ClassInfo>();
    List<Subject> allSubject = new List<Subject>();
    List<Chapter> allChapter = new List<Chapter>();
    int prgsValue { get; set; }
    int firstWeekTotal;
    int secWeekTotal;
    int thirftWeekTotal;
    int forthWeekTotal;
    List<CreativeQuestion> thisopCreativeqs = new List<CreativeQuestion>();
    List<CreativeQuestion> allcreativeqs = new List<CreativeQuestion>();

    string showprgs { get; set; }
    List<Chapter> allc = new List<Chapter>();
    List<Subject> allsub = new List<Subject>();
    List<ClassInfo> allClass = new List<ClassInfo>();
    List<Teacher> teacherListN = new List<Teacher>();
    List<TeacherQuesHistory> thList = new List<TeacherQuesHistory>();
    List<dataentryOperatorTask> MCQTask  = new List<dataentryOperatorTask>();
    List<dataentryOperatorTask> CreativeTask = new List<dataentryOperatorTask>();
    List<dataentryOperatorTask> LiveshowInfo = new List<dataentryOperatorTask>();
    List<teacherSubmitHistory> allSubmitHistory = new List<teacherSubmitHistory>();

    List<Question> quesList = new List<Question>();
    string selectedColorone = "";
    string selectedColortwo = "";
    string selectedColorthree = "";
    string selectedColorfour = "";
    string thisLink;
    string lastTaskEndTime;
    List<dataentryOperatorTask> operatorList = new List<dataentryOperatorTask>();
    int reload = 0;
    protected override async Task OnInitializedAsync()
    {
        tID = StaticPageToPassData.thisOperatorID;
        makeTaskError = "";
        canMakenewTask = true;
        MakeQSTxt = "Make New Task";
        showmcq = "None";
        await GetName();
        await Refresh();
    }
    public async Task Refresh()
    {
        linkTxtColor = "Gray;";
        showprgs = "Block";
        await GetOperatorSubInfo();
        await GetActiveTask();
    }
    public async Task ShowMCQModal(string mcqNumber, string name)
    {
        thismcqNumber = mcqNumber;
        thisShowchapterName = name;

    }
    

    private void selectFileLink(ChangeEventArgs task)
    {
        if(task.Value.ToString() != "")
        {
            if (task.Value.ToString()[0] == 'S')
            {
                linkTxtColor = "Gray";
                url = "";
            }
            else
            {
                linkTxtColor = "Blue";
                url = task.Value.ToString();
            }
            link = task.Value.ToString();
        }


    }
    public async Task GetName()
    {
        teacherListN = await "https://api.shikkhanobish.com/api/ShikkhanobishTeacher/getAllTeacher".PostJsonAsync(new { }).ReceiveJson<List<Teacher>>();
        foreach (var teacher in teacherListN)
        {
            if (teacher.teacherID == int.Parse(tID))
            {
                tName = teacher.name;
                StaticPageToPassData.Name = tName;
                break;
            }
        }
    }
    public async Task GetOperatorSubInfo()
    {
        listOfSubmit = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getOperatorEntryCountWithID".PostJsonAsync(new
        { operatorID = StaticPageToPassData.thisOperatorID }).
        ReceiveJson<List<OperatorEntryCount>>();

        for (int i = 0; i < listOfSubmit.Count; i++)
        {
            if (listOfSubmit[i].Type == 1)
            {
                mcqu = listOfSubmit[i].UploadCount;
                mcqap = listOfSubmit[i].ApprovedCount;
                mcqdl = listOfSubmit[i].DeclineCount;
                mcqpen = listOfSubmit[i].PendingCount;
            }
            if (listOfSubmit[i].Type == 2)
            {
                creativeu = listOfSubmit[i].UploadCount;
                creativeap = listOfSubmit[i].ApprovedCount;
                creativedl = listOfSubmit[i].DeclineCount;
                creativepn = listOfSubmit[i].PendingCount;
            }
        }
    }
    public async Task GetActiveTask()
    {
        operatorList = await "https://api.shikkhanobish.com/api/ShikkhanobishTeacher/getdataentryOperatorTask".PostJsonAsync(new { }).ReceiveJson<List<dataentryOperatorTask>>();
        var allPdfLink = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getQuestionPdfLink".GetJsonAsync<List<QuestionPdfLink>>();
        allc = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getChapter".GetJsonAsync<List<Chapter>>();
        allsub = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getSubject".GetJsonAsync<List<Subject>>();
        allClass = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/getClassInfo".GetJsonAsync<List<ClassInfo>>();

        for (int i = 0; i < operatorList.Count; i++)
        {
            if(operatorList[i].userID == int.Parse(StaticPageToPassData.thisOperatorID))
            {
                thisTeacherActiveTask.Add(operatorList[i]);
            }
        }



        for(int i = 0; i < thisTeacherActiveTask.Count; i++)
        {
            if(thisTeacherActiveTask[i].taskType == 1)
            {
                thisTeacherActiveTask[i].showMCQ = "None";
                string link = "";
                string cleanMCQNumber = "";
                bool now = false;
                bool cleanNow = false;
                foreach (var ch in thisTeacherActiveTask[i].MCQNumbers)
                {

                    if (now)
                    {
                        link += ch;
                    }
                    if (ch == '#')
                    {
                        now = true;
                    }
                    if (ch == 'L')
                    {
                        cleanNow = true;
                    }
                    if (!cleanNow)
                    {
                        cleanMCQNumber += ch;
                    }

                }
                thisTeacherActiveTask[i].FileLink = link;
                thisTeacherActiveTask[i].MCQNumbers = cleanMCQNumber;
            }
            for (int l = 0; l < allc.Count; l++)
            {
                if (allc[l].chapterID == thisTeacherActiveTask[i].chapterID)
                {
                    thisTeacherActiveTask[i].chapterName = allc[l].name;
                    for (int j = 0; j < allsub.Count; j++)
                    {
                        if (allsub[j].subjectID == allc[l].subjectID)
                        {
                            thisTeacherActiveTask[i].SubejctName = allsub[j].name;
                            for (int k = 0; k < allClass.Count; k++)
                            {
                                if (allsub[j].classID == allClass[k].classID)
                                {
                                    thisTeacherActiveTask[i].ClassName = allClass[k].name;
                                }
                            }
                        }
                    }
                }
            }

        }


    }
    public void ShowMCQ( string id)
    {
        for (int i = 0; i < thisTeacherActiveTask.Count; i++)
        {
            if (thisTeacherActiveTask[i].taskID == id)
            {
                thisTeacherActiveTask[i].showMCQ = "Block";
            }
        }
    }
    public void CloseMCQ(string id)
    {
        for (int i = 0; i < thisTeacherActiveTask.Count; i++)
        {
            if (thisTeacherActiveTask[i].taskID == id)
            {
                thisTeacherActiveTask[i].showMCQ = "None";
            }
        }
    }





    



}

